<pet-store-header></pet-store-header>

<!-- Display list of pets in right side with applicable filters on left side-->
<div class="container" ng-controller="PetController as petCtrl" style="margin-top: 25px;">
    <div class=row>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <div class="sidebar-widget sidebar-vertical">
                <h4>Categories</h4>
                <ul class="list-unstyled">
                    <category ng-repeat="category in petCtrl.uniqueCategories" name="{{category.name}}" count="{{category.count}}"></category>
                </ul>
            </div>
            <div class="sidebar-widget sidebar-vertical">
                <h4>Status</h4>
                <ul class="list-unstyled">
                    <status ng-repeat="status in petCtrl.uniqueStatus" name="{{status.name}}" count="{{status.count}}"></status>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10" style="border-left: 1px solid #e9e9ed;">
            <div class="row">
                <div ng-repeat="pet in petCtrl.pets">
                    <div class="clearfix" ng-if="$index % 4 == 0"></div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <pet-info pet="pet"></pet-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
