<!-- Directive for displaying one pet information -->
<div class="ibox">
    <div class="product-box">
        <div class="product-imitation">
            <img class="img-responsive" ng-src="/petstore/image/{{pet.photoUrls.length >0 ? pet.photoUrls[0] : 'default'}}.svg" alt="Pet Image">
        </div>
        <div class="product-desc">
            <span class="product-status {{ pet.status | lowercase}}">{{pet.status}}</span>
            <small class="text-muted">{{pet.category.name}}</small>
            <a class="product-name">{{pet.name}}</a>
            <div class="small">{{pet.description}}</div>
            <div class=product-actions ng-if="(pet.status | uppercase) === 'SOLD'" ng-click="removePet()">
                <span class="product-actionsButton">Remove Pet</span>
            </div>
        </div>
    </div>
</div>
