<pet-store-header></pet-store-header>

<div class="container" ng-controller="PetController as petCtrl" style="position: relative;">
    <!-- Petstore landing page designs -->
    <div class="row" style="margin-top:50px;">
        <div class="col-xs-6">
            <img class="home-image img-responsive pull-right" src="/petstore/image/bulldog.svg" alt="PetStore Home Image">
        </div>
        <div class="col-xs-6 text-left buttonBox">
            <H1 class="home-quote icondescription">HAPPINESS IS <br>A WARM PUPPY <br>READY TO BECOME <br>YOUR NEXT BEST FRIEND.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <a type="button" ng-click="petCtrl.toggleAddPetForm()" class="btn btn-header pull-right">ADD NEW PET</a>
        </div>
        <div class="col-xs-6 text-left">
            <a type="button" href="#!/petlist" class="btn btn-header pull-left">SHOW PETS</a>
        </div>
    </div>
	<!-- End Petstore landing page designs -->

	<!-- Add Pet sliding form in the home page -->
    <div pageslide ps-open="petCtrl.isAddFormOpen" ps-side="bottom" ps-speed="0.25" ps-body-class="true" ps-click-outside="false" ps-size="65px">
        <div class="container">
            <div class="row">
                <div cass="col-xs-12"> 
                <form action="#">
                    <div class="input-group">
                        <input class="btn btn-lg" type="text" placeholder="Pet Name" required ng-model="petCtrl.petObjToAdd.name">
                        <select ng-model="petCtrl.petObjToAdd.category.categoryId" class="btn btn-lg btn-middle" style="padding-bottom: 11px;" required>
                            <option disabled selected value>Pet Category</option>
                            <option value="1">Cat</option>
                            <option value="2">Dog</option>
                            <option value="3">Lion</option>
                            <option value="4">Fish</option>
                        </select>
                        <input class="btn btn-lg btn-middle " type="text" placeholder="Description" required="" ng-model="petCtrl.petObjToAdd.description">
<!--                         <input class="btn btn-lg btn-middle " type="text" placeholder="Pet Image URL" ng-model="petCtrl.tempImageForPost"> -->

                        <select ng-model="petCtrl.tempImageForPost" class="btn btn-lg btn-middle" style="padding-bottom: 11px;" required>
                            <option disabled selected value>Dummy Image</option>
                            <option value="biglion">Old Lion</option>
                            <option value="kidlion">Lion Kid</option>
                            <option value="bulldog">Bulldog</option>
                            <option value="happydog">Happy Dog</option>
                            <option value="unhappydog">Unhappy Dog</option>
                            <option value="fishleft">Fish</option>
                            <option value="fishright">Small Fish</option>
                            <option value="goodlookingcat">Smart Cat</option>
                            <option value="dangerouscat">Killer Cat</option>
                        </select>

                        <button class="btn btn-info btn-lg btn-middle " type="button" ng-click="petCtrl.savePet()">Add Pet</button>
                        <button class="btn btn-info btn-lg " type="button" ng-click="petCtrl.toggleAddPetForm();petCtrl.clearForm()">Cancel</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- End Add Pet sliding form in the home page -->
</div>
