<div ng-controller="PetController as petCtrl">
    <div pageslide ps-open="petCtrl.isAddFormOpen" ps-side="bottom" ps-speed="0.25" ps-body-class="true" ps-click-outside="false" ps-size="100px">
        <div class="container">
            <div class="row">
                <div cass="col-xs-12"> 
                <form action="#">
                    <div class="input-group">
                        <input class="btn btn-lg" type="text" placeholder="Pet Name" required ng-model="petCtrl.petObjToAdd.name">
                        <select ng-model="petCtrl.petObjToAdd.category.categoryId" class="btn btn-lg btn-middle" style="padding-bottom: 11px;" required>
                            <option disabled selected value>Pet Category</option>
                            <option value="1">Cat</option>
                            <option value="2">Dog</option>
                            <option value="3">Lion</option>
                            <option value="4">Fish</option>
                        </select>
                        <input class="btn btn-lg btn-middle " type="text" placeholder="Description" required="" ng-model="petCtrl.petObjToAdd.description">
                        <input class="btn btn-lg btn-middle " type="text" placeholder="Pet Image URL" ng-model="petCtrl.tempImageForPost">
                        <button class="btn btn-info btn-lg btn-middle " type="button" ng-click="petCtrl.savePet()">Add Pet</button>
                        <button class="btn btn-info btn-lg " type="button" ng-click="petCtrl.toggleAddPetForm();petCtrl.clearForm()">Cancel</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>